[Unit]
Description=thscripts web api
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/thscripts/web/api/
Environment=VIRTUAL_ENV=/usr/local/thscripts/.venv/
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
EnvironmentFile=/usr/local/thscripts/etc/th-api.conf
ExecStart=/usr/local/thscripts/.venv/bin/python api.py $THAPI_HOST $THAPI_PORT &> $THAPI_LOGS
Restart=always

[Install]
WantedBy=multi-user.target